@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {                                                             /* ! Added by Liyana */
    /* standard browser reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {                                                          /* ! Added by Liyana */
    font-family: 'Bona Nova', 'Lexend', sans-serif;
    font-size: 16px;                                            /* font family set up */
    height: 100%;                                               /* root font size set up */
    display: flex;
    flex-direction: column;
}

body
{
    margin: 0;
    width: 100%;
    height: 100%;                                               /* ! Added by Liyana */
    display: flex;                                              /* ! Added by Liyana */
    flex-direction: column;                                     /* ! Added by Liyana */
}

.bg-body-secondary
{
    background-color: #FBB446 !important;
}

/** start of header **/
.homebanner
{
    min-height: 50dvh;
    width: 100%;
    background-image: url(../img/header.png);
    background-position: center;
}

.shadow-effects {
    color: transparent;
    text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 0.9);
  }

  .search {
    background-color: #fff;
    padding: 4px;
    border-radius: 5px
}

.search-1 {
    position: relative;
    width: 100%
}

.search-1 input {
    height: 45px;
    border: none;
    width: 100%;
    padding-left: 34px;
    padding-right: 10px;
    border-right: 2px solid #eee
}

.search-1 input:focus {
    border-color: none;
    box-shadow: none;
    outline: none
}

.search-1 i {
    position: absolute;
    top: 12px;
    left: 5px;
    font-size: 24px;
    color: #eee
}

::placeholder {
    color: #eee;
    opacity: 1
}

.search-2 {
    position: relative;
    width: 100%
}

.search-2 input {
    height: 45px;
    border: none;
    width: 100%;
    padding-left: 18px;
    padding-right: 100px
}

.search-2 input:focus {
    border-color: none;
    box-shadow: none;
    outline: none
}

.search-2 i {
    position: absolute;
    top: 12px;
    left: -10px;
    font-size: 24px;
    color: #eee
}

.search-2 button {
    position: absolute;
    right: 1px;
    top: 2px;
    border: none;
    height: 2.5rem;
    background-color: #3C9CD6;
    color: #fff;
    width: 90px;
    border-radius: 4px;
}

@media (max-width:800px) {
    .search-1 input {
        border-right: none;
        border-bottom: 1px solid #eee
    }

    .search-2 i {
        left: 4px
    }

    .search-2 input {
        padding-left: 34px
    }

    .search-2 button {
        height: 37px;
        top: 5px
    }
}

/** end of header **/

  /** Start of PACKAGES **/

.packageheader{
    margin-top: 1rem;
    text-align: end;
    padding-right: 2rem;
    padding-left: 2rem;
    background-color: #ffffff;
}


.card-img{
    max-height: 300px;
    border-radius: 20px;
}

/* .card-title{
    
}

.card-text{

} */

/** End of PACKAGES **/




/**Start of CAROUSEL**/

.carousel-inner {
    position: center;

}

.carouseloverlay { 
    color: #000000;;
    position: absolute;
    z-index:12;
    top:25%;
    left:0;
    width:100%;
    font-size:  3rem;
    text-align:center;
  }
  
  .carousel-item img{
    opacity: 1;
  }  

/*   .carousel-item img:hover{

  } */  
      
 /**End of CAROUSEL**/  